.captcha-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.captcha-header {
    height: 25vh;
    background-color: #0074da;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.captcha-header h2 {
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}

.captcha-body {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.tiles-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1;
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.tile {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s;
}

.tile:hover {
    filter: brightness(1.05);
}

.tile.selected.right {
    border: 3px solid #15ff00 !important;
    box-shadow: 0 0 10px rgb(21, 167, 2);
    z-index: 1;
    position: relative;
}

.tile.selected.right::after {
    content: '✓';
    position: absolute;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #15ff00;
    bottom: 5px;
    right: 5px;
}

.tile.selected.wrong {
    border: 3px solid #ff0000 !important;
    box-shadow: 0 0 10px rgba(255, 59, 59, 0.7);
    z-index: 1;
}

.verify-button,
.skip-button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    flex: 1;
    max-width: 150px;
}

.skip-button:disabled {
    background-color: #ddd;
}
.skip-button:disabled:hover {
    background-color: #ddd;
}

.verify-button {
    background-color: #4caf50;
    color: white;
}

.verify-button:disabled {
    background-color: #81c784;
    cursor: not-allowed;
}

.verify-button:not(:disabled):hover {
    background-color: #388e3c;
}

.skip-button {
    background-color: #0074da;
    color: white;
}

.skip-button:hover {
    background-color: #0088ff;
}