.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

canvas.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scan-frame {
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    max-width: 500px;
    pointer-events: none;
}

.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    border-color: white;
    border-style: solid;
    border-width: 0;
    pointer-events: none;
}

.corner.top-left {
    top: -2px;
    left: -2px;
    border-top-width: 4px;
    border-left-width: 4px;
}

.corner.top-right {
    top: -2px;
    right: -2px;
    border-top-width: 4px;
    border-right-width: 4px;
}

.corner.bottom-left {
    bottom: -2px;
    left: -2px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.corner.bottom-right {
    bottom: -2px;
    right: -2px;
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.face-detected-message {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
}

.progress-header {
    position: absolute;
    top: 60px;
    /* Располагаем над прогресс-баром */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.progress-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    overflow: hidden;
    z-index: 10;
}

.progress-bar {
    height: 100%;
    background-color: #5a68ff;
    transition: width 0.1s ease;
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}